{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}

{{#if isSecondary}}
  <ul class="m-secondary-menu">
    {{#foreach navigation}}
      <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
        <a href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}
  </ul>
{{else}}
  
{{#foreach navigation}}
  {{#match label "=" "actual"}}
<li class="submenu-option js-submenu-option">
  {{!-- custom --}}
  <button class="m-icon-button btn-custom-in-main-menu more js-toggle-submenu" aria-label="{{t " Open submenu"}}">
    Актуальное
    {{!-- <span class="icon-more" aria-hidden="true"></span> --}}
  </button>
  <div class="m-submenu js-submenu">
    <div class="l-wrapper in-submenu">
      <section class="m-recent-articles">
        <h3 class="m-submenu-title in-recent-articles">{{t "Recent articles"}}</h3>
        {{#get "posts" limit="4" order="published_at desc" as |recent|}}
        {{#if recent}}
        <div class="swiper js-recent-slider">
          <div class="swiper-wrapper">
            {{#foreach recent}}
            <div class="swiper-slide">
              <a href="{{url}}" class="m-recent-article">
                <div class="m-recent-article__picture {{#unless feature_image}}no-picture{{/unless}}">
                  {{#if feature_image}}
                  <img src="{{img_url feature_image size=" s"}}" loading="lazy" alt="">
                  {{else}}
                  <img src="{{asset " images/no-image.png"}}" loading="lazy" alt="">
                  {{/if}}
                </div>
                <h3 class="m-recent-article__title js-recent-article-title" title="{{title}}">
                  {{title}}
                </h3>
                <span class="m-recent-article__date">{{date published_at timeago="true"}}</span>
              </a>
            </div>
            {{/foreach}}
          </div>
        </div>
        {{else}}
        <div class="m-not-found in-recent-articles">{{t "No recent articles found :("}}</div>
        {{/if}}
        {{/get}}
      </section>
      <section class="m-tags">
        <h3 class="m-submenu-title">{{t "Tags"}}</h3>
        {{#get "tags" limit="10"}}
        <ul>
          {{#foreach tags}}
          <li>
            <a href="{{url}}">{{name}}</a>
          </li>
          {{else}}
          <li class="m-not-found">{{t "No tags found :("}}</li>
          {{/foreach}}
        </ul>
        {{/get}}
      </section>
    </div>
  </div>
</li>
{{else}}
<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
  <a href="{{url absolute=" true"}}">{{label}}</a>
</li>
  {{/match}}
  {{/foreach}}
  {{/if}}
