  {{!--
  This template is used for the post page.
  --}}

  {{!-- This block preloads specific assets for the post page --}}
  {{#contentFor "preload"}}
    <link rel="preload" href="{{asset "css/post.css"}}" as="style" />
    <link rel="preload" href="{{asset "js/post.js"}}" as="script" />
  {{/contentFor}}

  {{!-- This block loads specific styles for the post page --}}
  {{#contentFor "styles"}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" media="screen" />
  {{/contentFor}}

  {{!-- The tag below means: insert everything in this file
  into the {body} of the default.hbs template --}}
  {{!< default}}

  {{!-- Special header.hbs partial to generate the <header> tag --}}
  {{#post}}
    {{> header background=feature_image}}
  {{/post}}

  <main class="main-wrap">
    {{#post}}
      {{!-- Inject styles of the hero image to make it responsive --}}
      {{> hero background=feature_image}}
      </section>
      {{#if feature_image}}
        {{#if feature_image_caption}}
          <div class="l-wrapper in-caption">
            <p class="m-small-text align-center">
              {{feature_image_caption}}
            </p>
          </div>
        {{/if}}
      {{/if}}
    {{/post}}
    
    <article>
      <div class="l-content in-post">
        {{!-- Everything inside the #post tags pulls data from the post --}}
        {{#post}}
          <div class="l-wrapper in-post {{#unless feature_image}}no-image{{/unless}} js-aos-wrapper" data-aos="fade-up"
            data-aos-delay="300">
            <div
              class="l-post-content js-progress-content">
              <header class="m-heading">
                <h1 class="m-heading__title in-post">{{title}}</h1>
                <div class="m-heading__meta">
                  {{#if primary_tag}}
                    <a href="{{primary_tag.url}}" class="m-heading__meta__tag">{{primary_tag.name}}</a>
                    <span class="m-heading__meta__divider" aria-hidden="true">&bull;</span>
                  {{/if}}
                  <span class="m-heading__meta__time">{{date published_at}}</span>
                </div>
              </header>
              <div class="pos-relative js-post-content">
                <div class="m-share">
                  <div class="m-share__content js-sticky">
                    
                  
                            
                    
                
                    {{!-- <a href="https://twitter.com/intent/tweet?text={{encode title}}&url={{url absolute='true'}}"
                      class="m-icon-button filled in-share" target="_blank" rel="noopener" aria-label="Twitter">
                      <span class="icon-twitter" aria-hidden="true"></span>
                    </a> --}}
                    
                    
                    <a href="/"
                      class="m-icon-button filled in-share" target="_blank" rel="noopener" aria-label="Twitter">
                      <span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24" fill="none">
  <g clip-path="url(#clip0_1414_111)">
  <path d="M0.75 3.75C0.75 3.02065 1.03973 2.32118 1.55546 1.80546C2.07118 1.28973 2.77065 1 3.5 1L14.5 1C15.2293 1 15.9288 1.28973 16.4445 1.80546C16.9603 2.32118 17.25 3.02065 17.25 3.75V22.3125C17.2499 22.4369 17.2161 22.5589 17.1522 22.6655C17.0883 22.7722 16.9966 22.8595 16.887 22.9182C16.7774 22.9769 16.6539 23.0048 16.5296 22.9989C16.4054 22.9929 16.2852 22.9534 16.1816 22.8845L9 19.0139L1.81837 22.8845C1.71484 22.9534 1.59457 22.9929 1.47035 22.9989C1.34613 23.0048 1.22263 22.9769 1.113 22.9182C1.00337 22.8595 0.911706 22.7722 0.847782 22.6655C0.783858 22.5589 0.750064 22.4369 0.75 22.3125V3.75ZM3.5 2.375C3.13533 2.375 2.78559 2.51987 2.52773 2.77773C2.26987 3.03559 2.125 3.38533 2.125 3.75V21.0282L8.61913 17.6155C8.73196 17.5404 8.86447 17.5004 9 17.5004C9.13553 17.5004 9.26804 17.5404 9.38088 17.6155L15.875 21.0282V3.75C15.875 3.38533 15.7301 3.03559 15.4723 2.77773C15.2144 2.51987 14.8647 2.375 14.5 2.375H3.5Z" fill="#4A4A4A" stroke="#4A4A4A"/>
  </g>
  <defs>
  <clipPath id="clip0_1414_111">
  <rect width="18" height="24" fill="white"/>
  </clipPath>
  </defs>
  </svg></span>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"
                      class="m-icon-button filled in-share" target="_blank" rel="noopener" aria-label="Facebook">
                      <span class="icon-facebook" aria-hidden="true"></span>
                    </a>
                    </a>
                      <a href="https://t.me/share/url?url={{url absolute='true'}}&text={{encode title}}"
                      class="m-icon-button filled in-share" target="_blank" rel="noopener nofollow" aria-label="Telegram" title="Telegram">
                      <span class="icon-telegram" aria-hidden="true"></span>
                    </a>

                    <button class="m-icon-button filled in-share progress js-scrolltop" aria-label="{{t "Scroll to top"}}">
                      <span class="icon-arrow-top" aria-hidden="true"></span>
                      <svg aria-hidden="true">
                        <circle class="progress-ring__circle js-progress" fill="transparent" r="0" />
                      </svg>
                    </button>
                  </div>
                </div>
                {{content}}
                {{!-- List of tags  --}}
                {{#if tags}}
                  <section class="m-tags in-post">
                    <h3 class="m-submenu-title">{{t "Tags"}}</h3>
                    <ul>
                      {{#foreach tags}}
                        <li>
                          <a href="{{url}}" title="{{name}}">{{name}}</a>
                        </li>
                      {{/foreach}}
                    </ul>
                  </section>
                {{/if}}
              </div>
            </div>
          </div>
  {{!-- telegram subscribe --}}
          <section class="m-subscribe-section js-newsletter">
              <div class="l-wrapper in-post">
                <div class="m-subscribe-section__content">
                  <div class="m-subscribe-section__text">
                    <h4 class="m-subscribe-section__title">{{t "Join our community"}}</h4>
                    <p class="m-subscribe-section__description">
                      {{t "Get the latest posts first in telegram"}}
                    </p>
                  </div>
                  <div class="m-subscribe-section__form">
                    {{> "telegram-btn"}}
                  </div>
                </div>
              </div>
            </section>
          {{!-- Email subscribe form at the bottom of the page --}}
          {{#if @site.members_enabled}}
            <section class="m-subscribe-section js-newsletter">
              <div class="l-wrapper in-post">
                <div class="m-subscribe-section__content">
                  <div class="m-subscribe-section__text">
                    <h4 class="m-subscribe-section__title">{{t "Subscribe to our newsletter"}}</h4>
                    <p class="m-subscribe-section__description">
                      {{t "Get the latest posts delivered right to your inbox."}}
                    </p>
                  </div>
                  <div class="m-subscribe-section__form">
                    {{> "newsletter-form"}}
                  </div>
                </div>
              </div>
            </section>
          {{/if}}
          <section class="m-author">
            <div class="m-author__content">
              <div class="m-author__picture">
                <a href="{{primary_author.url}}" class="m-author-picture" aria-label="{{primary_author.name}}">
                  {{#if primary_author.profile_image}}
                    <div style="background-image: url({{primary_author.profile_image}});"></div>
                  {{else}}
                    <div style="background-image: url({{asset "images/default-avatar-square-small.jpg"}});"></div>
                  {{/if}}
                </a>
              </div>
              <div class="m-author__info">
                <h4 class="m-author__name">
                  <a href="{{primary_author.url}}">{{primary_author.name}}</a>
                </h4>
                {{#has author="count:>1"}}
                  <p class="m-small-text in-author-along-with">
                    {{authors separator=", " prefix=(t "Among with no break line") from="2"}}
                  </p>
                {{/has}}
                {{#if primary_author.bio}}
                  <p class="m-author__bio">{{primary_author.bio}}</p>
                {{/if}}
                <ul class="m-author-links">
                  {{#if primary_author.website}}
                    <li>
                      <a href="{{primary_author.website}}" target="_blank" rel="noopener" aria-label="{{t "Website"}}">
                        <span class="icon-globe" aria-hidden="true"></span>
                      </a>
                    </li>
                  {{/if}}
                  {{#if primary_author.facebook}}
                    <li>
                      <a href="https://facebook.com/{{primary_author.facebook}}" target="_blank" rel="noopener" aria-label="Facebook">
                        <span class="icon-facebook" aria-hidden="true"></span>
                      </a>
                    </li>
                  {{/if}}
                  {{#if primary_author.twitter}}
                    <li>
                      <a href="https://twitter.com/{{primary_author.twitter}}" target="_blank" rel="noopener" aria-label="Twitter">
                        <span class="icon-twitter" aria-hidden="true"></span>
                      </a>
                    </li>
                  {{/if}}
                </ul>
              </div>
            </div>
          </section>
          {{!-- If you want to embed comments, this is a good place to do it! --}}
          {{!--
            <section class="m-comments">
              <div class="m-load-comments__iframe l-wrapper in-comments js-comments-iframe">
                <div id="disqus_thread"></div>
                <script>
                  var disqus_config = function () {
                    this.page.url = "{{url absolute="true"}}";
                    this.page.identifier = "ghost-{{comment_id}}"
                  };
                  (function () {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://CHANGETHIS.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                  })();
                </script>
              </div>
            </section>
          --}}
        {{/post}}
        {{!-- Related posts --}}
        {{#if post.tags.length}}
          {{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags,authors" as |related|}}
            {{#if related}}
              <section class="m-recommended">
                <div class="l-wrapper in-recommended">
                  <h3 class="m-section-title in-recommended">{{t "Recommended for you"}}</h3>
                  <div class="m-recommended-articles">
                    <div class="m-recommended-slider swiper js-recommended-slider">
                      <div class="swiper-wrapper">
                        {{!-- The tag below iterates over all the related posts --}}
                        {{> "loop"}}
                      </div>
                      <button class="m-icon-button filled in-recommended-articles swiper-button-prev" aria-label="{{t "Previous"}}">
                        <span class="icon-arrow-left" aria-hidden="true"></span>
                      </button>
                      <button class="m-icon-button filled in-recommended-articles swiper-button-next" aria-label="{{t "Next"}}">
                        <span class="icon-arrow-right" aria-hidden="true"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </section>
            {{/if}}
          {{/get}}
        {{/if}}
      </div>
    </article>
  </main>

  {{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
  {{#contentFor "scripts"}}
    <script defer src="{{asset "js/post.js"}}"></script>
  {{/contentFor}}
